html, body {
  max-width: 100vw;
  margin-inline: auto;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "arial regular";
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 38px;
  letter-spacing: -90;
}
p {
  font-size: 18px;
  letter-spacing: -5;
}