.fp {
  min-height: 100vh;
  background: linear-gradient(to bottom, white, rgb(188, 188, 255));
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
  margin-inline: auto;
  & > :first-child {
    margin-left: -3rem;
  }
  & span {
    place-self: end;
    color: white;
    background-color: black;
    padding: .2rem 1rem;
    margin-right: -1.8rem;
  }
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.logo {
  width: 150px;
}

.subpage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.subpageCard {
  display: flex;
  max-width: 900px;
  justify-content: center;
  height: 60%;
  & img {
    max-height: 80vh;
    object-fit: contain;
  }
}